html {
    background-color: blueviolet;
    color: #222222;
}

a {
    color: beige;
    text-decoration: none;
}
  

ul {
    list-style-type: none;
}


li {
    padding: 4px;
    margin: 8px auto;
    width: max-content;
}

h1 {
    margin: 24px auto;
}

h2 {
    margin-top: 36px;
}

img {
    border-radius: 5px;
    display: block;
    width: 500px;
    height: auto;
    margin: 12px auto;
}

.centered {
    text-align: center;
}
